@import "tailwindcss";
.nav-bar{
    @apply w-full h-[15%] flex bg-[rgb(89,89,255)] 
}
.menu{
    @apply h-[100%] md:w-[30%] flex md:mx-auto md:font-bold   md:text-[3rem] bg-[rgb(89,89,255)]   justify-between w-[100%] text-[4rem]
}
.menu-item{
    @apply h-full w-[50%]  text-white flex justify-center items-center p-[1rem]  
}
.menu-item:hover{
    @apply text-[rgb(89,89,255)] bg-white
}
.as{
    @apply md:text-[2rem] text-[3rem] 
}
.menu{
    background-color: rgb(89, 89, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
